.contactSection {
    color: #1144B3;
    padding: 4rem;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin-bottom: 3rem;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 1s ease, transform 1s ease;

        @media (max-width: 768px) {
            flex-direction: column;
        }
        p {
            text-align: center;
        }
        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
        .title {
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        .subTitle {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        .titleBig{
            font-size: 26px;
            font-weight: 400;
            letter-spacing: 6px;
        }
        .phone{
            text-decoration: none;
        }
        .subText12{
            font-size: 12px;
        }
        .subText15{
            font-size: 15px;
        }
        .subText14{
            font-size: 14px;
        }
        .column {
            flex: 1;
            font-size: 1rem;
            line-height: 1.6;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .imageColumn {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                object-fit: cover;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}