.newsSection {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding-bottom: 100px;
}

.header {
    position: relative;
    margin-bottom: 4rem;
    padding: 1.3rem 0;
    background-color: var(--color-text-blue);
}

.icon {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 6.1rem;
    height: 6.1rem;
    @media (max-width: 768px) {
        position: absolute;
        top: -10px;
        left: 10px;
    }
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    @media (max-width: 768px) {
        font-size: 1.6rem;
    }
}


.slider {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.slide {
    width: 19rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    overflow: hidden;
    background: rgb(118, 148, 238);
    position: relative;
}

.imageWrapper {
    // flex: 0 0 80%;
    min-height: 250px;
    overflow: hidden;
    position: relative;
    z-index: 10;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit:contain;
    }
}

.caption {
    // flex: 0 0 20%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 11;
    background-color: var(--color-text-blue);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    padding: .6rem;
    opacity: .8;
    &>p{
        opacity: 1;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
.newsLink{
    text-decoration: none;
    color: inherit;
}
.newsDesc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* ← показываем только 6 строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 75px;
    // min-height: 200px;
    // max-height: 200px;
}
.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}