.videoSection {
    // padding-top: 0.6rem;
    // text-align: center;
    width: 100%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 28%;
    height: 0;
    overflow: hidden;
    background-color: #0E45B3;
    width: 100%;
    @media (max-width: 768px) {
        height: 180px;/* ← делаем видео выше */
        padding-bottom: 8%;
    }
}

.video {
    width: 100%;
    object-fit: cover; /* чтобы видео обрезалось, но не искажалось */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px) {
        height: 100%;
    }
}