.section {
    position: relative;
    width: 100%;
    height: 300px; // можно заменить на 100vh при необходимости
    overflow: hidden;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

.text {
    font-size: 38px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}